# Qt Gui requirements
PyQt5

# PyTest reqyuirements
pytest
pytest-mock
pytest-qt
pytest-cov
coverage
coveralls

# cli requirements
click
click-default-group

# Model analysis reqs
numpy-stl
openpyxl

# Package management
bump2version
twine

# Documentation
sphinx
sphinxcontrib-spelling
sphinxcontrib-programoutput
