sphinx
sphinxcontrib-spelling
sphinxcontrib-programoutput
pytest
pytest-mock
click
click-default-group
pytest-cov
coverage
coveralls
numpy-stl
bump2version
twine
wheel
openpyxl
antlr4-python3-runtime==4.8
